<section id="ext-vuetest-css-button" class="ext-vuetest-css__button-demo">
	<h2>Buttons</h2>

	<h3>Normal Buttons</h3>
	<button class="cdx-button">Normal button</button>
	<button class="cdx-button cdx-button--action-progressive">
		Progressive normal button
	</button>
	<button class="cdx-button cdx-button--action-destructive">
		Destructive normal button
	</button>
	<button class="cdx-button" disabled>
		Disabled normal button
	</button>
	{{! TODO: add this back in once T332923 is resolved. }}
	{{! <button class="cdx-button">
		<span class="cdx-button__icon ext-vuetest-css__button-demo__icon--arrow-previous" aria-hidden="true"></span>
		Normal icon button
	</button>
	<button class="cdx-button cdx-button--icon-only" aria-label="Normal icon-only button">
		<span class="cdx-button__icon ext-vuetest-css__button-demo__icon--arrow-previous"></span>
	</button> }}

	<h3>Primary buttons</h3>
	<button class="cdx-button cdx-button--weight-primary">
		Primary button
	</button>
	<button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
		Progressive primary button
	</button>
	<button class="cdx-button cdx-button--action-destructive cdx-button--weight-primary">
		Destructive primary button
	</button>
	<button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary" disabled>
		Disabled progressive primary button
	</button>
	{{! TODO: add this back in once T332923 is resolved. }}
	{{! <button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">
		<span class="cdx-button__icon ext-vuetest-css__button-demo__icon--arrow-previous" aria-hidden="true"></span>
		Progressive primary icon button
	</button>
	<button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary cdx-button--icon-only" aria-label="Progressive primary icon-only button">
		<span class="cdx-button__icon ext-vuetest-css__button-demo__icon--arrow-previous"></span>
	</button> }}

	<h3>Quiet buttons</h3>
	<button class="cdx-button cdx-button--weight-quiet">
		Quiet button
	</button>
	<button class="cdx-button cdx-button--action-progressive cdx-button--weight-quiet">
		Progressive quiet button
	</button>
	<button class="cdx-button cdx-button--action-destructive cdx-button--weight-quiet">
		Destructive quiet button
	</button>
	<button class="cdx-button cdx-button--weight-quiet" disabled>
		Disabled quiet button
	</button>
	{{! TODO: add this back in once T332923 is resolved. }}
	{{! <button class="cdx-button cdx-button--action-progressive cdx-button--weight-quiet">
		<span class="cdx-button__icon ext-vuetest-css__button-demo__icon--arrow-previous" aria-hidden="true"></span>
		Progressive quiet icon button
	</button>
	<button class="cdx-button cdx-button--action-progressive cdx-button--weight-quiet cdx-button--icon-only" aria-label="Progressive quiet icon-only button">
		<span class="cdx-button__icon ext-vuetest-css__button-demo__icon--arrow-previous"></span>
	</button> }}
</section>
