<section id="ext-vuetest-css-checkbox" class="ext-vuetest-css__checkbox-demo">
	<h2>Checkboxes</h2>

	<h3>Checkbox group</h3>
	<span class="cdx-checkbox">
		<input id="checkbox-group-css-only-1" class="cdx-checkbox__input" type="checkbox">
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-css-only-1">
			Checkbox 1
		</label>
	</span>
	<span class="cdx-checkbox">
		<input id="checkbox-group-css-only-2" class="cdx-checkbox__input" type="checkbox" checked>
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-css-only-2">
			Checkbox 2 (initially selected)
		</label>
	</span>
	<span class="cdx-checkbox">
		<input id="checkbox-group-css-only-3" class="cdx-checkbox__input" type="checkbox">
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-css-only-3">
			Checkbox 3, which has a very long label that spans onto a second line to
			demonstrate what happens when text wraps
		</label>
	</span>
	<span class="cdx-checkbox">
		<input id="checkbox-group-css-only-4" class="cdx-checkbox__input" type="checkbox" disabled>
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-css-only-4">
			Checkbox 4 (disabled)
		</label>
	</span>
	<span class="cdx-checkbox">
		<input id="checkbox-group-css-only-5" class="cdx-checkbox__input" type="checkbox" checked disabled>
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-css-only-5">
			Checkbox 5 (initially selected, disabled)
		</label>
	</span>

	<h3>Inline Checkboxes</h3>
	<span class="cdx-checkbox cdx-checkbox--inline">
		<input id="checkbox-group-inline-css-only-1" class="cdx-checkbox__input" type="checkbox">
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-inline-css-only-1">
			Checkbox 1
		</label>
	</span>
	<span class="cdx-checkbox cdx-checkbox--inline">
		<input id="checkbox-group-inline-css-only-2" class="cdx-checkbox__input" type="checkbox">
		<span class="cdx-checkbox__icon"></span>
		<label class="cdx-checkbox__label" for="checkbox-group-inline-css-only-2">
			Checkbox 2
		</label>
	</span>
</section>
