<section id="ext-vuetest-css-icon" class="ext-vuetest-css__icon-demo__icon-demo">
	<h2>Icons</h2>

	<h3>Basic icon</h3>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--tag"></span>
		Label
	</p>

	<h3>Icon with color</h3>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--cancel"></span>
		Cancel
	</p>

	<h3>Icon sizes</h3>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--bookmark"></span>
		Bookmark (medium)
	</p>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--bell"></span>
		Bell (small)
	</p>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--arrow-next"></span>
		Arrow next (extra-small)
	</p>

	<h3>Flip for RTL</h3>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--article"></span>
		Article
	</p>

	<h3>Flip for RTL, with exceptions</h3>
	<p>This icon flips for RTL, except for Hebrew and Yiddish.</p>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--article-not-found"></span>
		Article not found
	</p>

	<h3>Separate RTL icon</h3>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--articles-search"></span>
		Articles search
	</p>

	<h3>Language variants</h3>
	<p>
		<span class="ext-vuetest-css__icon-demo__icon--strikethrough"></span>
		Strikethrough
	</p>
</section>
