<section id="ext-vuetest-css-radio" class="ext-vuetest-css__radio-demo">
	<h2>Radios</h2>

	<h3>Radio group</h3>
	<span class="cdx-radio">
		<input id="radio-group-css-only-1" class="cdx-radio__input" type="radio" name="radio-group-css-only">
		<span class="cdx-radio__icon"></span>
		<label class="cdx-radio__label" for="radio-group-css-only-1">
			Radio 1
		</label>
	</span>
	<span class="cdx-radio">
		<input id="radio-group-css-only-2" class="cdx-radio__input" type="radio" name="radio-group-css-only" checked>
		<span class="cdx-radio__icon"></span>
		<label class="cdx-radio__label" for="radio-group-css-only-2">
			Radio 2 (initially selected)
		</label>
	</span>
	<span class="cdx-radio">
		<input id="radio-group-css-only-3" class="cdx-radio__input" type="radio" name="radio-group-css-only">
		<span class="cdx-radio__icon"></span>
		<label class="cdx-radio__label" for="radio-group-css-only-3">
			Radio 3, which has a very long label that spans onto a second line to
			demonstrate what happens when text wraps
		</label>
	</span>
	<span class="cdx-radio">
		<input id="radio-group-css-only-4" class="cdx-radio__input" type="radio" name="radio-group-css-only" disabled>
		<span class="cdx-radio__icon"></span>
		<label class="cdx-radio__label" for="radio-group-css-only-4">
			Radio 4 (disabled)
		</label>
	</span>

	<h3>Inline Radios</h3>
	<span class="cdx-radio cdx-radio--inline">
		<input id="radio-group-css-only-inline-1" class="cdx-radio__input" type="radio" name="radio-group-css-only-inline">
		<span class="cdx-radio__icon"></span>
		<label class="cdx-radio__label" for="radio-group-css-only-inline-1">
			Radio 1
		</label>
	</span>
	<span class="cdx-radio cdx-radio--inline">
		<input id="radio-group-css-only-inline-2" class="cdx-radio__input" type="radio" name="radio-group-css-only-inline" checked>
		<span class="cdx-radio__icon"></span>
		<label class="cdx-radio__label" for="radio-group-css-only-inline-2">
			Radio 2
		</label>
	</span>
</section>
