<section id="ext-vuetest-css-text-input" class="ext-vuetest-css__text-input-demo">
	<h2>Text Inputs</h2>

	<h3>Basic TextInput</h3>
	<div class="cdx-text-input">
		<input class="cdx-text-input__input" type="text">
	</div>

	<h3>TextInput With icons</h3>
	<div class="cdx-text-input cdx-text-input--has-start-icon cdx-text-input--has-end-icon">
		<input class="cdx-text-input__input" type="text" placeholder="Start typing...">
		<span class="cdx-text-input__icon cdx-text-input__start-icon ext-vuetest-css__text-input-demo__icon--search"></span>
		<span class="cdx-text-input__icon cdx-text-input__end-icon ext-vuetest-css__text-input-demo__icon--info-filled"></span>
	</div>

	<h3>Disabled TextInput</h3>
	<div class="cdx-text-input cdx-text-input--has-start-icon cdx-text-input--has-end-icon">
		<input class="cdx-text-input__input" type="text" placeholder="Start typing..." disabled>
		<span class="cdx-text-input__icon cdx-text-input__start-icon ext-vuetest-css__text-input-demo__icon--search"></span>
		<span class="cdx-text-input__icon cdx-text-input__end-icon ext-vuetest-css__text-input-demo__icon--info-filled"></span>
	</div>

	<h3>TextInput error state</h3>
	<div class="cdx-text-input cdx-text-input--status-error">
		<input class="cdx-text-input__input" type="text" value="Something's wrong">
	</div>
</section>
