<section id="ext-vuetest-css-link" class="ext-vuetest-css__link-demo">
	<h2>Links</h2>
	
	<h3>Standard Link</h3>
	<p> Lorem ipsum <a class="ext-vuetest-css__link-demo__link" href="https://example.com">dolor sic</a> amet.</p>

	<h3>Underlined Link</h3>
	<p>Lorem ipsum <a class="ext-vuetest-css__link-demo__link is-underlined" href="https://example1.com">dolor sic</a> amet.</p>

	<h3>Icon Link</h3>
	<p>Lorem ipsum <a class="ext-vuetest-css__link-demo__link is-underlined" href="https://example2.com">dolor sic amet <span class="ext-vuetest-css__link-demo__icon--link-external"></span>
</a></p>

	<h3>Red link</h3>
	<p>Lorem ipsum <a class="ext-vuetest-css__link-demo__link is-red-link" href="https://example3.com">dolor sic</a> amet.</p>

	<h3>Underlined Red link</h3>
	<p>Lorem ipsum <a class="ext-vuetest-css__link-demo__link is-red-link is-underlined" href="https://example4.com">dolor sic</a> amet.</p>

	<h3>Icon Red link</h3>
	<p>Lorem ipsum <a class="ext-vuetest-css__link-demo__link is-red-link is-underlined" href="https://example5.com">dolor sic amet <span class="ext-vuetest-css__link-demo__icon--link-external--red"></a></p>

	<h3>Links with custom CSS selectors</h3>
	<div class="ext-vuetest-css__link-demo__wrapper">
		<p>Lorem ipsum <a href="https://www.example6.com">regular link</a></p>
		<p class="ext-vuetest-css__link-demo__wrapper--underlined">
			Lorem ipsum <a href="https://www.example7.com">underlined link</a>
		</p>
		<p>Lorem ipsum <a class="ext-vuetest-css__link-demo__wrapper--red" href="https://www.example8.com">regular red link</a></p>
		<p class="ext-vuetest-css__link-demo__wrapper--underlined">
			Lorem ipsum <a class="ext-vuetest-css__link-demo__wrapper--red" href="https://www.example9.com">underlined red link</a>
		</p>
	</div>
</section>
